.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.terraformrc
terraform.rc
.terraform.lock.hcl

.githooks/
.vscode/
.idea/
.DS_Store
Thumbs.db
